// external modules
import React, { FC } from 'react'

// types
interface {{pascalCase name}}LayoutProps {
 
}

const {{pascalCase name}}Layout: FC<{{pascalCase name}}LayoutProps> = () => {
  return (
    <main>
        
    </main>
	);
};

export default {{pascalCase name}}Layout;