// external modules
import React, { FC } from 'react'

// types
interface {{ pascalCase name }}Props {
 
}

const {{ pascalCase name }}: FC<{{pascalCase name}}Props> = ({}) => {
  return (
    <div>
        
    </div>
	);
};

export default {{ pascalCase name }};